body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
  background-color: #2c011e;
}

nav {
  background: linear-gradient(#5a564e, #413f3a);
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 15px black;
  z-index: 5;
  user-select: none;
  transition: 800ms opacity ease,
    800ms visibility ease;
}

nav ul {
  margin: 0;
  padding: 0 5vw;
}

nav ul li {
  color: #fff;
  padding: 10px 15px;
  margin: 0;
  cursor: pointer;
  transition: 200ms box-shadow ease;
  display: inline;
  float: right;
}

nav ul li:after {
  content: '';
  position: relative;
  display: block;
  width: 0%;
  height: 2px;
  bottom: -10px;
  background-color: #e03901;
  margin: 0 auto;
  transition: 200ms width ease;
}

nav ul li.active:after {
  width: 100%;
}

nav ul li:hover {
  box-shadow: inset 0 0 0px 1px #e03901;
}

#cover {
  width: 100%;
  height: 110%;
  background-color: #2c011e;
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
}

#cover:after {
  content: '';
  width: 100%;
  height: 100px;
  background-color: #43002d;
  display: block;
  position: absolute;
  bottom: -100px;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 20%);
}

#cover h4 {
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  font-size: 10px;
  transition: 200ms font-size ease;
  -webkit-font-smoothing: antialiased;
}

#self {
  width: 100%;
  padding: 0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0px 0px 10px #333;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: -5%;
  transition: 400ms opacity ease,
    400ms visibility ease;
}

#self h3 {
  margin-bottom: 50px;
}

#self h1,
#self h3 {
  padding: 10px;
}

#to-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  margin: 25px;
  padding: 10px;
  background-color: #742c00;
  border-radius: 45px;
  box-shadow: 2px 17px 15px #3335;
  transition: filter 200ms ease;
  z-index: 15;
  transition: opacity 200ms ease,
    visibility 200ms ease,
    transform 100ms ease,
    filter 400ms ease,
    box-shadow 200ms ease;
  cursor: pointer;
}

#to-top img {
  width: 45px;
  height: 45px;
  filter: invert(1);
  transform: rotate(180deg) !important;
}

#to-top:hover {
  background-color: #531a00;
  box-shadow: 0 5px 15px #222c;
}

#to-top:active {
  transform: translateY(2px);
}

.to-top-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  box-shadow: 0 -5px 5px black !important;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.disappeared {
  display: none !important;
}

.overlaying {
  position: fixed;
  z-index: 100;
}

#login-screen {
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  transition: 400ms opacity ease,
    400ms visibility ease;
}

#need-help {
  position: absolute;
  top: 50px;
  padding: 0 8px 8px;
  font-style: italic;
  font-size: small;
  user-select: none;
  cursor: pointer;
  transition: 200ms all ease;
}

#help-box {
  user-select: none;
  background-color: lightyellow;
  color: black;
  width: 260px;
  padding: 14px;
  border-radius: 8px;
  position: absolute;
  top: 68px;
  opacity: 0;
  visibility: hidden;
  transition: 200ms all ease;
}

#need-help:hover {
  text-shadow: 0 0 5px white;
}

#need-help:hover + #help-box {
  opacity: 1;
  visibility: visible;
}

#help-box:hover {
  opacity: 1;
  visibility: visible;
}

#login-screen #not-listed {
  color: #aaa;
  min-width: 300px;
  user-select: none;
}

#user-box {
  display: flex;
  justify-content: flex-start;
  min-width: 300px;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

#user-box:hover {
  background-color: #e03901;
}

#user-box img {
  width: 76px;
  height: 76px;
  padding: 1px;
  margin-right: 30px;
  border: 2px solid #aaa;
  border-radius: 5px;
}

#user-box span {
  align-self: center;
}

.button {
  color: white;
  text-decoration: none;
  background-color: #ffffff00;
  outline: 0;
  padding: 15px 30px;
  margin: 30px;
  border-radius: 7px;
  box-shadow: 0 0 5px 1px #e03901;
  transition: 200ms all ease;
  letter-spacing: 1px;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background-color: #e03901;
  box-shadow: 0 0 5px white;
  text-shadow: 1px 1px white;
}

.main-section {
  padding: 50px;
  display: flex;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.main-section h1 {
  font-family: 'Cabin', sans-serif;
  margin: 70px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
}

.main-section .card {
  margin: 20px;
  background-color: #ffffdc;
  color: black;
  padding: 40px;
  box-shadow: 0px 10px 60px #333;
  border-radius: 8px;
  transition: padding 200ms ease, box-shadow 400ms ease;
  max-width: 768px;
}

.main-section .card > *:not(h2) {
  margin-left: 15px;
}

.main-section .card h2 {
  margin-bottom: 40px;
  font-family: sans;
}

.main-section .card ul {
  transition: padding-left 400ms ease;
}

.main-section .card:hover {
  box-shadow: 0px 5px 10px #333;
}

#java-section {
  background: linear-gradient(to bottom, #ff8d4c 20%, #cc680c 100%);
}

#android-section {
  background: linear-gradient(to bottom, #375 20%, #142 100%);
}

#web-section {
  background: linear-gradient(to bottom, #e52 20%, #721 100%);
}

#contact-section {
  background-color: #123;
}

#what-i-do {
  color: #2c011e;
}

.grid {
  display: flex;
  width: 80%;
  background-color: #eeeeff22;
  border-radius: 5px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  color: #000000;
  margin: 10px;
  box-shadow: 0 5px 20px #44444477;
}

.grid .column {
  flex: 1;
  text-align: center;
  margin: 10px;
  padding: 15px;
}

.column p {
  padding: 10px;
}

.column h2 {
  margin-bottom: 50px;
}

.column img {
  filter: invert(0.5) sepia(1) brightness(0.3) saturate(5) hue-rotate(270deg);
  width: 100px;
  height: 100px;
  margin: 20px;
}

.column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.column ul li {
  padding: 4px 0;
  border-radius: 16px;
}

.column ul li:nth-child(2n + 1) {
  background-color: rgb(235, 226, 243);
}

.column ul li:nth-child(2n) {
  background-color: rgba(235, 226, 243, 0.2);
}

.grid-divider {
  background-color: #aaaaaa66;
  height: 300px;
  width: 2px;
  align-self: center;
}

#contact-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0
}

#contact-section .contact-entry {
  border: 2px solid white;
  padding: 15px;
  border-radius: 55px;
  transition: 200ms background-color ease, margin 500ms ease;
  margin: 0 10px;
  flex: 1;
}

#contact-section .contact-entry:hover {
  background-color: white;
}

#contact-section .contact-entry:hover img {
  filter: invert(0);
}

#contact-section img {
  width: 25px;
  height: 25px;
  filter: invert(1);
  transition: 200ms filter ease;
}

#copyrights-section {
  background-color: #123;
  color: white;
  text-align: center;
  padding: 25px;
  font-family: 'Cabin', sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #303901;
}

::-webkit-scrollbar-thumb {
  background: #a03901;
}

::-webkit-scrollbar-thumb:hover {
  background: #e03901;
}

/* 
  ##Device = Desktops
*/

@media (min-width: 1281px) {}

/* 
  ##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
  ##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 1024px) {
  .main-section h1 {
    margin: 40px;
  }

  .main-section .card ul {
    padding-left: 5px;
  }

  .grid {
    width: 90%;
  }

  .contact-entry {
    margin: 7px !important;
  }
}

/* 
  ##Between phones and tablets
*/

@media (max-width: 768px) {
  .grid {
    flex-direction: column;
    width: 95% !important;
  }

  .grid-divider {
    width: 90%;
    height: 2px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (min-width: 320px) and (max-width: 480px) {
  .button {
    font-size: 12px;
    margin: 10px;
    padding: 15px;
  }

  #cover h4 {
    font-size: 8px;
  }

  .main-section {
    padding: 10px;
  }

  .main-section h1 {
    margin: 30px 0;
  }

  .main-section .card {
    padding: 20px;
  }

  .main-section .card ul {
    padding-left: 15px;
  }

  #what-i-do {
    margin-top: 50px;
  }

  .grid {
    width: 100%;
  }

  #to-top {
    right: 10px;
    bottom: 10px;
  }

  #to-top img {
    width: 25px;
    height: 25px;
  }

  .contact-entry {
    margin: 5px 5px !important;
    padding: 10px !important;
  }
}